<div class="col-sm-2 sidenav">
  <h2 class="side-nav-header">Filters</h2>
  <div class="col-sm-12">
      <div class="row">
        <div class="column border-bottom">
          <span>Launch Year</span>
        </div>
        <div class="row">
          <div class="column">
            <button type="button" class="btn btn-success" (click)="getSelectedLanchYear(2006)">2006</button>
            <button type="button" class="btn btn-success" (click)="getSelectedLanchYear(2007)">2007</button>
          </div>
          <div class="column">
            <button type="button" class="btn btn-success" (click)="getSelectedLanchYear(2008)">2008</button>
            <button type="button" class="btn btn-success" (click)="getSelectedLanchYear(2009)">2009</button>
          </div>
          <div class="column">
            <button type="button" class="btn btn-success" (click)="getSelectedLanchYear(2010)">2010</button>
            <button type="button" class="btn btn-success" (click)="getSelectedLanchYear(2011)">2011</button>
          </div>
          <div class="column">
            <button type="button" class="btn btn-success" (click)="getSelectedLanchYear(20112)">2012</button>
            <button type="button" class="btn btn-success" (click)="getSelectedLanchYear(2013)">2013</button>
          </div>
          <div class="column">
            <button type="button" class="btn btn-success" (click)="getSelectedLanchYear(2014)">2014</button>
            <button type="button" class="btn btn-success" (click)="getSelectedLanchYear(2015)">2015</button>
          </div>
          <div class="column">
            <button type="button" class="btn btn-success" (click)="getSelectedLanchYear(2016)">2016</button>
            <button type="button" class="btn btn-success" (click)="getSelectedLanchYear(2017)">2017</button>
          </div>
          <div class="column">
            <button type="button" class="btn btn-success" (click)="getSelectedLanchYear(2018)">2018</button>
            <button type="button" class="btn btn-success" (click)="getSelectedLanchYear(2019)">2019</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="column border-bottom">
          <span>Successful Launch</span>
        </div>
        <div class="row">
          <div class="column">
            <button type="button" class="btn btn-success" (click)="getSuccessFullLanch(true)">True</button>
            <button type="button" class="btn btn-success" (click)="getSuccessFullLanch(false)">False</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="column border-bottom">
          <span>Successful Landing</span>
        </div>
        <div class="row">
          <div class="column">
            <button type="button" class="btn btn-success" (click)="getSuccessFullLanding(true)">True</button>
            <button type="button" class="btn btn-success" (click)="getSuccessFullLanding(false)">False</button>
          </div>
        </div>
      </div>
    </div>
</div>
